%html
  %head
    %title Asociaci&oacute;n Art&iacute;stica de Gipuzkoa - Proceso de serigraf&iacute;
  %body
    %h1 Proceso de serigraf&iacute;a
    %h2 Fotolitos (Transparencias)
    %dl
      %dt Manuales
      %dd Cualquier medio que nos permita opacar el soporte translucido. L&aacute;piz graso, rotulador permanente (pintar por ambas caras), tinta china, acr&iacute;lico, collage, etc.
      %dt Digitales
      %dd Texto, fotograf&iacute;a/imagen punto detrama, etc.
    %h2 Emulsionar la pantalla
    %ul
      %li En penumbra.
      %li Con una capa es suficiente, &eacute;sta siempre ha de darse por la cara interna de la pantalla y no debe llegar a tocar el marco de madera (dejamos siempre los m&aacute;rgenes sin emulsionar). Quitar restos de emulsi&oacute;n que pudieran quedar en las esquinas.
      %li dejar secar.
    %h2 Insolado
    %ul
      %li Ponemos el fotolito en la insoladora, colocamos encima la pantalla de forma que la malla y el fotolito est&eacute;n completamente en contacto.
      %li cubrimos completamente toda la insoladora con la tela negra (teniendo cuidado de que no se desplace el fotolito de la pantalla y que no haya fugas de luz una vez la pongamos en marcha), despu&eacute;s cubrimos la parte interna de la pantalla con fieltro (2 capas) y ponemos peso encima.
      %li Encendemos la insoladora (5 minutos) y apagamos para proceder inmediatamente al revelado.
    %h2 Revelado
    %ul
      %li Es importante <em>mojar ambas caras</em> de la pantalla.
      %li Despu&eacute;s insistiremos en aquellas zonas de imagen ejerciendo algo de presi&oacute;n con la manguera hasta que se revele por completo.
      %li Ya podemos sacar la pantalla a la luz y secar los marcos con un trapo y la malla con ayuda de un secador (sin acercarlo demasiado; ya que podr&iacute;a da&ntilde;ar el tejido).
    %h2 Impresi&oacute;n
    %p Antes de imprimir tenemos que preparar la pantalla y la mesa de trabajo.
    %h3 Pantalla
    %ul
      %li Cubrimos con cinta adhesiva los margenes que est&aacute;n sin emulsionar y la emparejamos con la bisagra a la mesa.
      %li Calzar la pantalla.
    %h3 Papel y tintas
    %ul
      %li Cortamos el n&uacute;mero de pliegos que vayamos a imprimir y preparamos la tunta en un bote aparte a&ntilde;adiendo unas gotas de retardante y mezclando bien hasta que adquierta la consistencia adecuada.
    %h3 Registros
    %ul
      %li Centrar bien el papel y hacer los <em>registros</em> sobre la tabla.
      %li <em>Spray adhesivo</em> sobre la tabla.
    %p Con la <em>pantalla elevada</em> esparcimos la tinta en el margen inferior (que no caiga tinta en &aacute;rea de imagen) y con la rasqueta hacemos una primera carga desplazando la tunta hacia el margen superior (de seguido y sin ejercer demasiada presi&oacute;n).
    %p Bajamos la pantalla, hacemos la primera impresi&oacute;n y <em>antes de cambiar el papel</em> hacemos una carga de tinta. Quitamos la estampa y ponemos papel nuevo siguiendo el registro anterior.
    %h2 Limpieza
    %ul
      %li Devolver la tinta sobrante al bote.
      %li <em>Desmontamos la pantalla y la limpiamos bien por ambas caras</em> (lo antes posible para evitar que la tinta se seque en el tejido), quitando restos de tinta con agua y una esponja.
      %li Quitar tambi&eacute;n restos de cinta adhesiva.
      %li Despu&eacute;s se limpia el resto de material: esp&aacute;tulas, rasquetas, mesa, etc.
    %h2 Recuperar pantalla
    %ul
      %li Se aplica el recuperador con el cepillo y frotamos por ambas caras de la pantalla hasta que la emulsi&oacute;n se desprenda por completo.
      %li Aclarar con agua.
      %li Retirar el resto con agua a presi&oacute;n hasta que quede la pantalla completamente limpia.
      %li Revisar el tejido, posibles zonas bloqueadas, tinta, emulsi&oacute;n, etc.
